JaxWsMetroWebApp/WebContent/WEB-INF/wsdl/mtom_image.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<xs:schema xmlns:tns="http://example4.jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://example4.jaxws/">

	<xs:element name="getImage" type="tns:getImage" />

	<xs:element name="getImageResponse" type="tns:getImageResponse" />

	<xs:element name="getImages" type="tns:getImages" />

	<xs:element name="getImagesResponse" type="tns:getImagesResponse" />

	<xs:complexType name="getImage">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getImageResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:base64Binary"
				minOccurs="0" maxOccurs="unbounded" xmime:expectedContentTypes="application/octet-stream"
				xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getImages">
		<xs:sequence />
	</xs:complexType>

	<xs:complexType name="getImagesResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:base64Binary"
				minOccurs="0" maxOccurs="unbounded" xmime:expectedContentTypes="application/octet-stream"
				xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>