JaxWsMetroWebApp/WebContent/WEB-INF/mtomWsdl/mtom.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example3.jaxws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example3.jaxws/" name="SkiImageServiceService">
<types>

<xsd:schema xmlns:tns="http://example3.jaxws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://example3.jaxws/">

	<xsd:element name="getImage" type="tns:getImage"/>

	<xsd:element name="getImageResponse" type="tns:getImageResponse"/>

	<xsd:element name="getImages" type="tns:getImages"/>

	<xsd:element name="getImagesResponse" type="tns:getImagesResponse"/>

	<xsd:complexType name="getImages">
	<xsd:sequence/>
	</xsd:complexType>

	<xsd:complexType name="getImagesResponse">
	<xsd:sequence>
	<xsd:element name="return" type="xsd:base64Binary" minOccurs="0" maxOccurs="unbounded"
				xmime:expectedContentTypes="application/octet-stream"
				xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
	</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getImage">
	<xsd:sequence>
	<xsd:element name="arg0" type="xsd:string" minOccurs="0"/>
	</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getImageResponse">
	<xsd:sequence>
	<xsd:element name="return" type="xsd:base64Binary" minOccurs="0"
				xmime:expectedContentTypes="application/octet-stream"
				xmlns:xmime="http://www.w3.org/2005/05/xmlmime" />
	</xsd:sequence>
	</xsd:complexType>
</xsd:schema>

</types>
<message name="getImages">
<part name="parameters" element="tns:getImages"/>
</message>
<message name="getImagesResponse">
<part name="parameters" element="tns:getImagesResponse"/>
</message>
<message name="getImage">
<part name="parameters" element="tns:getImage"/>
</message>
<message name="getImageResponse">
<part name="parameters" element="tns:getImageResponse"/>
</message>
<portType name="SkiImageService">
<operation name="getImages">
<input wsam:Action="http://example3.jaxws/SkiImageService/getImagesRequest" message="tns:getImages"/>
<output wsam:Action="http://example3.jaxws/SkiImageService/getImagesResponse" message="tns:getImagesResponse"/>
</operation>
<operation name="getImage">
<input wsam:Action="http://example3.jaxws/SkiImageService/getImageRequest" message="tns:getImage"/>
<output wsam:Action="http://example3.jaxws/SkiImageService/getImageResponse" message="tns:getImageResponse"/>
</operation>
</portType>
<binding name="SkiImageServicePortBinding" type="tns:SkiImageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getImages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getImage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SkiImageServiceService">
<port name="SkiImageServicePort" binding="tns:SkiImageServicePortBinding">
<soap:address location="http://localhost:8080/JaxWsMetroWebApp/skiimageservice"/>
</port>
</service>
</definitions>